.vscode/*
.clang-tidy
.clang-format

# Build artifacts
examples/*/build/
**/debug_output.log

# Python cache
datamodel/umaa/python_flat/__pycache__/
examples/*/py/__pycache__/

# Service data
services/data/

datamodel/umaa/cpp11_gen/
